html {
  height: 100%;
}

body {
  height: 100%;
}

#left-panel {
  float: left;
  width: 15%;
  height: 100%;
  background-color: #202020;
}

#main {
  float: left;
  width: 85%;
  height: 100%;
  background-color: #303030;
}

#main-top {
  position: fixed;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #FFFFFF;
  margin: 10px;
}

#search {
  border: 2px hidden black;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 5px 50px 5px 10px;
  color: #000000;
}

.arrows {
  padding: 8px 10px;
}

#inline-img {
  position: absolute:
  top: 20px;
  height: 16px;
}
